<ng-container *ngIf="vm$ | async as vm">
  <div class="inline-flex justify-between bg-white p-4 w-full">
    <label for="">{{ vm.activeCount }} item left</label>
    <div class="flex gap-3">
      <button
        (click)="filter('All')"
        [ngClass]="{ 'font-bold': vm.filter === 'All' }"
      >
        All
      </button>
      <button
        (click)="filter('Active')"
        [ngClass]="{ 'font-bold': vm.filter === 'Active' }"
      >
        Active
      </button>
      <button
        (click)="filter('Completed')"
        [ngClass]="{ 'font-bold': vm.filter === 'Completed' }"
      >
        Completed
      </button>
    </div>

    <button (click)="clearCompleted()">Clear Completed</button>
  </div>
</ng-container>
